@font-face {
    font-family: BellotaBold;
    src: url(../../../fonts/Bellota-Bold.otf);
    format:('opentype');
}
@font-face {
    font-family: BellotaRegular;
    src: url(../../../fonts/Bellota-Regular.otf);
    format:('opentype');
}
@font-face {
    font-family: BellotaLight;
    src: url(../../../fonts/Bellota-Light.otf);
    format:('opentype');
}