@mixin submitBtn {
    grid-area: submit;

    background: none;
    border-radius: 5px;
    letter-spacing: 2px;

    border: 1px solid $color-primary;
    color: $color-primary;
    padding: 5px;
    border-radius: 50px;
    
}