@mixin submitBtn {
    grid-area: submit;

    background: none;
    border-radius: 5px;
    letter-spacing: 2px;

    border: 1px solid $color-primary;
    color: $color-primary;
    padding: 5px;
    border-radius: 50px;
    
}

@mixin inputText{
    width: 150px;

    margin-left: 0.5rem;
    padding: 3px;

    border: 1px solid $color-primary;
    border-radius: 5px;
}